this is rails region
<div id ="this-is-react-region"></div>
this is rails region
Square nhaaaa
<div id ="square"></div>
this is rails region

========================
Date
<div id="date"></div>
=====================
User Name
<div id="root"></div>



